spring:
  config:
    import: optional:file:.env[.properties]
  application:
    name: api-gateway
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: ${JWK_SET_URI}
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: AUTH-SERVICE
              uri: ${AUTH_SERVICE_URI}
              predicates:
                - Path=/api/v1/auth/**,/login/**
            - id: POST-SERVICE
              uri: ${POST_SERVICE_URI}
              predicates:
                - Path=/api/v1/blog/**,/api/v1/docs/**,/api/v1/upload/**
            - id: USER-SERVICE
              uri: ${USER_SERVICE_URI}
              predicates:
                - Path=/api/v1/user/**
          default-filters:
            - RemoveRequestHeader=User
            - RemoveRequestHeader=User-Email
            - RemoveRequestHeader=User Email

server:
  port: ${SERVER_PORT}
logging:
  level:
    org.springframework.security: ${LOG_LEVEL_SECURITY:DEBUG}
    org.springframework.security.oauth2: ${LOG_LEVEL_SECURITY_OAUTH2:DEBUG}
    org.springframework.cloud.gateway: ${LOG_LEVEL_GATEWAY:DEBUG}
